

<ion-header>
  <ion-navbar>
    <ion-title>Tarefas</ion-title>
    <ion-buttons end>
      <button class="icon-power" ion-button icon-end solid (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--ion-list>
  <ul>
    <li class="text" *ngFor="let item of list">
      {{ item.task }}
    </li>
</ul>
</ion-list-->


  <div padding>
    <ion-segment [(ngModel)]="task_seccion">
      <ion-segment-button value="task_new">
        Novas tarefas
      </ion-segment-button>
      <ion-segment-button value="task_finish">
        Tarefas concluidas
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="task_seccion">
    <div *ngSwitchCase="'task_new'">
      <ion-card class="task" *ngFor="let item of list_task_new" (click)="alertTaskDetail(item)">
        <ion-row>
          <ion-col class="title-task" col-8>
            {{ item.name }}
          </ion-col>
          <ion-col  col-2>
            <ion-checkbox class="check" checked="{{ item.status }}" (click)="updateStatus(item)"></ion-checkbox>
          </ion-col>
          <ion-col  col-2>
            <button style="width:100%"  ion-button solid color="black" (click)="delete(item.uid)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- Se list for vazia -->
      <div text-center class="list-void" *ngIf="list_task_new.length == 0">
        <ion-icon  class="icon-void" name="list-box"></ion-icon>
        <p>Lista Vazia</p>
      </div>
    </div>

    <div *ngSwitchCase="'task_finish'">
      <ion-card class="task" *ngFor="let item of list_task_finish ">
        <ion-row>
          <ion-col class="title-task" col-8>
            {{ item.name }}
          </ion-col>
          <ion-col col-2>
            <ion-checkbox class="check" checked="{{ item.status }}" (click)="updateStatus(item)"></ion-checkbox>
          </ion-col>
          <ion-col col-2>
            <button style="width:100%"  ion-button solid color="black" (click)="delete(item.uid)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- Se list_task_finish for vazia -->
      <div text-center class="list-void" *ngIf="list_task_finish.length == 0">
        <ion-icon class="icon-void"    name="list-box"></ion-icon>
        <p>Lista Vazia</p>
      </div>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="confirmPassword()" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>