page-task-detail {
    ion-content {
        background-color: black !important ;
    }
ion-grid{
    ion-row{
        ion-col{
            border: 0.5px solid white;
            color: white
        }
    }
}
}
