<ion-content padding>
  <div id="custom-overlay">
      <div class="flb">
        <div class="aligner-item aligner-item--top"></div>
        <img class="logo" src="../../assets/imgs/loading.gif">
        <!--img class="happy" src="assets/imgs/splash-happy.png"> -->
        <!--lottie-animation-view [options]="splashConfig"></lottie-animation-view-->
        <div class="aligner-item aligner-item--bottom"></div>
      </div>
      </div>
</ion-content>
