page-home {

  ion-button, .button-outline-md, .button-md{
    border-width: 1px;
    border-style: solid;
    border-color: white !important;
    color: white !important;
    background-color: transparent;
    border-radius: 9px;
    overflow: hidden;
    height: 5.0rem;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0.4rem 0.2rem;
    padding: 0 2.0em;

}

  ion-content {
    background-color: 	 #9C27B0 !important ;
}


    .custom-title{
        padding-top: 5em;
        padding-bottom: 15.0em;
        color: white 
    }
    .container-buttons{
        padding-bottom: 1.0em;
        //padding-top: 1em;
        //padding-left: 2.5em
    }

    .glitch{
        color: white;
        font-size:60px;
        position:relative;
        width:400px;
        margin:0 auto;
      }
      @keyframes noise-anim{
        $steps:20;
        @for $i from 0 through $steps{
          #{percentage($i*(1/$steps))}{
            clip:rect(random(100)+px,9999px,random(100)+px,0);
          }
        }
      }
      .glitch:after{
        content:attr(data-text);
        position:absolute;
        left:2px;
        text-shadow:-1px 0 	#9C27B0;
        top:0;
        color:#9C27B0;
        background:	#9C27B0;
        overflow:hidden;
        clip:rect(0,900px,0,0); 
        animation:noise-anim 2s infinite linear alternate-reverse;
      }
      
      @keyframes noise-anim-2{
        $steps:20;
        @for $i from 0 through $steps{
          #{percentage($i*(1/$steps))}{
            clip:rect(random(100)+px,9999px,random(100)+px,0);
          }
        }
      }
      .glitch:before{
        content:attr(data-text);
        position:absolute;
        left:-2px;
        text-shadow:1px 0 	#9C27B0; 
        top:0;
        color:#9C27B0;
        background:	#9C27B0;
        overflow:hidden;
        clip:rect(0,900px,0,0); 
        animation:noise-anim-2 3s infinite linear alternate-reverse;
      }

      .centralizar{
          border: 1px solid 	#9C27B0;
          display: inline;
      }

      .center{
          margin-top: 30%;
      }

}
